// This is not live. Rules must be updated on the firebase console
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /svi_data/{document=**} {
      allow read: if true;
    }

    match /landmark_data/{document=**} {
      allow read: if true;
    }

    match /tooltip_data/{document=**} {
      allow read: if true;
    }

    match /model_data/{document=**} {
      allow read: if true;
    }

    match /model_predictions/{document=**} {
      allow read: if true;
    }

    match /map_data/{document=**} {
      allow read: if true;
    }
  }
}
