// variables.scss automatically loaded by webpack

$box-radius: 2px;

@media (min-width: 900px) {
  .desktop-container {
    height: 70vh;
    max-width: 900px;
  }
}

.right-side {
  width: 50%;
  margin-left: 50%;
}

.left-side {
  width: 50%;
  margin-right: 50%;
}

.is-centered {
  margin-left: auto;
  margin-right: auto;
}

.button {
    font-family: $family-secondary;
    font-weight: bold;
}

.set-font-family-secondary {
  font-family: $family-secondary;
}

@import '~bulma';
