// variables.scss automatically loaded by webpack

$box-radius: 2px;

@media (min-width: 900px) {
  .desktop-container {
    height: 70vh;
    max-width: 900px;
  }
}

.right-side {
  width: 50%;
  margin-left: 50%;
}

.left-side {
  width: 50%;
  margin-right: 50%;
}

.is-centered {
  margin-left: auto;
  margin-right: auto;
}

.button {
    font-family: $family-secondary;
    font-weight: bold;
}

.notification {
  font-family: $family-secondary;
}

@import '~bulma';

#vg-tooltip-element.vg-tooltip {
  color: #333333;
  font-family: $family-sans-serif;
  h2 {
    margin-bottom: 0.2em;
    font-weight: bold;
  }
  table {
    tr {
      td {
        padding-top: 1px;
        padding-bottom: 1px;

        &.value {
          font-weight: bold;
        }
      }
    }
  }

  @include mobile {
    display: none;
  }
}

// Modal Card Styling
.modal-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 40px);
}

@include mobile {
  .modal-card {
    max-height: 100vh;
    max-width: 100vw;
  }

  /* Reduce the padding when on mobile */
  .modal-card-body {
    padding: 10px;
  }

  .modal .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}


@import "@vueform/multiselect/themes/default.scss";

.multiselect {
  --ms-tag-bg: #{$primary};
  --ms-tag-radius: #{$radius};

  --ms-ring-color: #{$primary};
  --ms-ring-width: 1px;

  --ms-option-bg-selected: #{$primary};
  --ms-option-bg-selected-pointed: #{$link};
}

fieldset[disabled] {
  .multiselect {
    pointer-events: none;
  }

  .control {
    cursor: not-allowed;
  }
}
