// PORI styles:
$family-serif: "lora", serif;
$family-sans-serif: "proxima-nova", sans-serif;
$family-monospace: "novel-mono-pro-compressed", "novel-mono-pro-extra-compres", monospace;
$family-primary: $family-serif;
$family-secondary: $family-sans-serif;

// $size-1: calc(46px + 2vw);
// $size-2: calc(32px + 2vw);
// $size-3: calc(18px + 1vw);
// $size-5: calc(14px + 0.8vw);
// $size-6: calc(10px + 1vw);
// $size-7: calc(7px + 0.9vw);

$radius: 3px;

$pori-blue: #2A3465;
$pori-red: #990000;
$pori-link: #385AA8;
$pori-black: #1A1A1A;

$primary: $pori-blue;
$link: $pori-link;
$text: $pori-black;
$info: #777777;

// overwrite max width of a fullhd screen to be a bit wider
$fullhd: 1728px;

$modal-content-width: 800px;

// allows user preference to take precedence on font-size
$body-size: 1rem;
